$XL-width: 1360px;
$L-width: 1000px;
$M-width: 815px;
$S-width: 580px;
$XS-width: 420px;


@mixin XL {
  @media (max-width: #{$XL-width}) {
    @content;
  }
}

@mixin L {
  @media (max-width: #{$L-width}) {
    @content;
  }
}

@mixin M {
  @media (max-width: #{$M-width}) {
    @content;
  }
}

@mixin S {
  @media (max-width: #{$S-width}) {
    @content;
  }
}

@mixin XS {
  @media (max-width: #{$XS-width}) {
    @content;
  }
}
